#contact {
    form {
        display: flex;
        flex-flow: column;
        color: $white-color;
        label {
            font-size: 1.4em;
            // padding-bottom: 0.2em;
            padding-top: 1.2em;
            position: relative;
            z-index: 2;
            
            &::before {
                content: "";
                background-color: $prim-color;
                display: inline-block;
                position: absolute;
                z-index: -1;
                top: 46px;
                left: 20px;
                width: 150px;
                height: 0.3em;
                border: 1px solid $prim-color;
            }
        }

        input{
            height: 40px;
            border-radius: 10px;
        }

        .submit{
            position: relative;
            display: flex;
            flex-flow: column;

            input{
                position: absolute;
                top: 4.8em;
                background: $prim-color;
                color: $white-color;
                width: 7em;
                font-size: 1.6em;
                align-self: center;
            }
        }

        textarea{
            height: 80px;
            border-radius: 10px;
        }
    }
}
