.site-header{
    background-color: $black-color;
    color: $white-color;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 100vw;


    h2{
        text-transform: uppercase;
        align-self: center;
    }

    .menu-btn{
        align-self: center;
        position: absolute;
        z-index: 11;
        right: 1rem;
        top: 1rem;
        height: 20px;
        width: 28px;
        cursor: pointer;
        @include transition-ease;

        &-burger{
            position: absolute;
            right: 0;
            top: 0.5rem;
            width: 28px;
            height: 3px;
            background: $white-color;
            @include transition-ease;

            &::before{
                content: '';
                position: absolute;
                top: -8px;
                width: 28px;
                height: 3px;
                background: $white-color;
                @include transition-ease;
            }

            &::after{
                content: '';
                position: absolute;
                top: 8px;
                width: 20px;
                height: 3px;
                background: $prim-color;
                @include transition-ease;
            }

            &.open{
                transform: rotate(720deg);
                background: transparent;
    
                &::before{
                    transform: rotate(45deg) translate(5px, 8px);
                }
    
                &::after{
                    width: 28px;
                    transform: rotate(-45deg) translate(3px, -7px);
                }
            }
        }
    }
}