@import './reset';
@import './typography';
@import './variables';
@import './transition';
@import './aside';
@import './header';
@import './home';
@import './about';
@import './portfolio';
@import './contact';

body{
    background-color: $page-color;
}

.page{
    padding-left: 1em;
    padding-right: 1em;
    display: block;
    padding-top: 50px;
}

.page-header{
    color: $prim-color;
    font-size: 3em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dashed $prim-color;
}